body{
  background-image: url("https://static.pexels.com/photos/157/person-apple-laptop-notebook.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
}
.chart{
  margin-top: 5vh;
}
