body{
	background-image: url("http://xn--80aqafcrtq.cc/img/4/8/6/Backgrounds,%20фон,%20обои,%20текстура,%202560x1600.jpg");
	background-repeat: no-repeat;
	background-position: fixed;
	background-size: cover;
}

.text{
	background-color: black;
	text-align: center;
	color: white;
}
.centerimg{
	display: block;
	margin-right: auto;
	margin-left: auto;
}