body{
	background-image: url("http://xn--80aqafcrtq.cc/img/4/8/6/Backgrounds,%20фон,%20обои,%20текстура,%202560x1600.jpg");
	background-repeat: no-repeat;
	background-position: fixed;
	background-size: cover;
}

.text{
	background-color: #04B431;
	text-align: center;
	color: white;
	font-family: 'Capriola', sans-serif;
	font-size: 30px;
	border:5px solid gray;

}
.centerimg{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.Interview{
	text-align: center;
	color:orange;
	font-family: 'Capriola', sans-serif;
	font-size: 50px;
}

.img{
	position:relative;
	left: 25%
}

.subtitle{
	  font-family: Consolas, monaco, monospace;
	  font-size: 60px;
	  text-align: center;
}
