body{
	background-color: gray;
}

.text{
	background-color: #F3E2A9;
	text-align: center;
	color: white;
	font-family: 'Capriola', sans-serif;
	font-size: 14px;
	border:5px solid gray;

}
.centerimg{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.header{
	background-color: #D0D0D0;
}
.menu{
	background-color: gray;
}
.txt{
	text-align: center;
}

.margins{
	margin-left: 12.5%;
}
.margin2{
	margin-right: 12.5%;
}

.marginbot{
	margin-bottom: 5%;
}

.padres{
	height: 150px;
	margin-bottom: 5%;
	margin-top: 5%;
	text-align: center;
	background-color: #D0D0D0 	;
}
.padresbtn{
	margin-top: 40px;
}

.footer{
	height: 150px;
}
.slider{
	background-color: #D0D0D0;
}
.fb{
	margin-left: 45%;
}